<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Chug{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        {% block head %}
        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/fonts/fonts.css">
        <link rel="stylesheet" href="/css/styles.css">
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-wrapper">
            {% include '_header.html' %}
            <div class="site-container">
                {% block content %}
                    <p class="default">This is an awesome page.</p>
                {% endblock %}
                <div class="footer-push"></div>
            </div>
        </div>
        {% include '_footer.html' %}
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','{{ googleAnalytics }}','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>