{% extends '_layout.html' %}

{% block title %} {{ super() }} | Home {% endblock %}

{% block content %}
	<div id="author">
		<div id="author-photo">
			<img src="/images/author.jpg" alt="Author">
		</div>
		<div id="author-bio">
			<p>Originally written by <span>Zack Hall</span> and modified by <span>Ramin Vakilian</span>.</p>
		</div>
	</div>
  <div id="recent-posts">
  	<h2>Recent Posts</h2>
  	<ul>
			{% for post in posts %}
				<li><a href="{{ post.path }}">{{ post.title }}</a></li>
			{% endfor %}
  	</ul>
  </div>
{% endblock %}