$primary-color-dark:   #616161 !default;
$primary-color:        #9E9E9E !default;
$primary-color-light:  #F5F5F5 !default;
$primary-color-text:   #212121 !default;
$accent-color:         #448AFF !default;
$primary-text-color:   #212121 !default;
$secondary-text-color: #727272 !default;
$divider-color:        #B6B6B6 !default;
