@import 'bourbon';
@import 'neat';
@import 'colors';
@import 'variables';
@import 'grid';
@import 'tables';

//* General Site Styles
.site-container {
  @include media($medium-screen) {
    @include outer-container($large-site-width);  
  }	
  @include outer-container($medium-site-width);
}

html {
	@include clearfix;
	font-family: $serif-2;
	text-align: left;
  background-color: $primary-color-text;
  color: $primary-text-color;
}

body {
  margin: 0;
}

h1, h2, h3, h4,h5,p {
  margin: 0;
  color: $primary-text-color;
}

hr {
  border-bottom: 2px solid $accent-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

p {
  line-height: $base-line-height;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;

  @include media($medium-screen) {
    font-size: 2.6em;
  }
}

h2 {
  font-family: $serif-2;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 0.9em;

  @include media($medium-screen) {
    font-size: 1.2em;
  }
}

pre code {
  display: block;
}

code {
  background: lighten( $accent-color, 2% );
  border-radius: $base-border-radius * 1.5;
  border: 1px solid $divider-color;
  color: $primary-color-text;
  font-family: monaco;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: pre;
}

h3 {
  font-family: $serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin: .5em 0em .2em 0em;
}

p.date {
  color: transparentize($primary-text-color, .6);
  font-family: $serif-2;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.3em;
}

p {
  font-family: $serif-2;
  font-size: 0.9em;
  line-height: 1.6em;
  margin-bottom: 1.5em;

  span {
    font-family: $sans-serif;
    font-weight: 700;
  }
}

a.read-more {
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;

  span {
    font-family: $serif;
    font-size: 1.5em;
    font-style: normal;
    position: absolute;
    right: -12px;
    top: -1px;
  }
}

hr {
  width: 3em;
}

p.author {
  font-family: $serif-2;
  font-style: italic;
}

//* Nav

header {
  background-color: $primary-color;
  color: $primary-color-text;
  margin-bottom: 50px;
  border-bottom: 4px solid $accent-color;
  @include padding($base-spacing null);
}

.header-content {
  @include media($medium-screen) {
    @include outer-container($large-site-width);
    text-align: left;
  }
  
  @include outer-container($medium-site-width);
  text-align: center;
}

nav {
  @include padding($base-spacing null);
}

nav ul {
  list-style-type: none;

  @include margin(null 0);
  @include padding(null 0);
  
  @include media($medium-screen) {
    float: right;
  }
}

nav li {
  @include media($medium-screen) {
    display: inline-block;
    padding: 0 10px;
  }
  color: $primary-color-text;
  display: block;

  a {
    color: $primary-color-text;
  }

  a:hover {
    border-bottom: 3px solid $accent-color;
    color: $primary-color-text;
  }
}

#site-title {
  @include media($medium-screen) {
    @include span-columns(4);  
  }

  @include span-columns(12);

  h1 {
    font-family: $sans-serif;
    margin: 0;
  }

  a {
    color: $primary-color-text;
  }
}

#menu-pages {
  @include media($medium-screen) {
    @include span-columns(8);  
  }

  @include span-columns(12);
}

//* Form styling

.form-stacked input,
.form-stacked textarea {
  width: 100%;
}

.field-light {
  background-color: white;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 3px;
}

textarea, input {
  box-sizing: border-box;
  line-height: 1.75;
  padding: 0.5rem 0.5rem;
}

input, select, textarea, fieldset {
  font-family: $serif-2;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}


#{$all-buttons} {
  appearance: none;
  background-color: $accent-color;
  border: 0;
  border-radius: 3px;
  color: $primary-color-text;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 1s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($accent-color, 20%);
    color: $primary-color-text;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $accent-color;
    }
  }
}

//* Homepage

#author-photo {
  @include media($medium-screen) {
    @include span-columns(2);
    @include padding(0 null);
  }

  @include span-columns(12);
  @include padding(($base-spacing / 2) null);
  
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    @include size(3.5rem);
    border-radius: 50%;
  }
}

#author-bio {
  @include media($medium-screen) {
    @include span-columns(10);
  }

  @include span-columns(12);

  p {
    line-height: 1em;
  }
}

#recent-posts {
	@include span-columns(12);
	@include pad(35px 0);
}

