.form-stacked input,
.form-stacked textarea {
  width: 100%;
}

.field-light {
  background-color: white;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 3px;
}

textarea, input {
  box-sizing: border-box;
  line-height: 1.75;
  padding: 0.5rem 0.5rem;
}

input, select, textarea, fieldset {
  font-family: $serif-2;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}


#{$all-buttons} {
  appearance: none;
  background-color: $accent-color;
  border: 0;
  border-radius: 3px;
  color: $primary-color-text;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 1s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($accent-color, 20%);
    color: $primary-color-text;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $accent-color;
    }
  }
}
